# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\CVUT-FEL\DOKTORANDSKESTUDIUM\NSS\cvika\2\jidea\RMI_Server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
